@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$font: Bebas Neue;

.container {
  width:100%;
  overflow: hidden;
  height: 100px;
  background-color: white;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  justify-content: space-between;
  font-family: $font;
}

.navLinks {
  padding: 10px;
  font-size: 18px;
  margin: 15px 40px 15px 0px;
  align-items: center;
  display: flex;
  width: 40%;
  color: $primary;
  justify-content: space-between;
  letter-spacing: 5px;
  
  
}

.navLink {

  padding: 5px;
  text-align: center;

  
  &:active {
    background-color: pink;
  }
}

.logo {
  color: black;
  font-size: 38px;
  // background-color: blue;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 15px 40px;
  letter-spacing: 5px;
  font-weight: 500;
  cursor: pointer;

  >P {

    > span {
    
      color: $primary;
    }
  }

}
