@import url('https://fonts.googleapis.com/css2?family=Arsenal&family=Maven+Pro&family=Montserrat&family=Roboto:wght@100&family=Sansita&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDMincho&family=Poiret+One&display=swap');

$primary: #e56020;
$purple: purple;
$background: white;
$shade: #5f5642;


$secondaryFont: Roboto;
$navbarFont: Montserrat;
$primaryFont: Poiret One;
$fouthFont: Arsenal;
$thirdFont: BIZ UDMincho;

// Font size
$text-sm: 12px;
$text-base: 24px;
$text-larget: 1.5rem;
$text-xl: 2rem;
$text-2xl: 3rem;


$breakpoint-mobile: 479px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;