@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Montserrat&family=Roboto:wght@100&display=swap');
@import 'variables';

.body {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  // width: 150px;
}

.container {
  width: 100%;

  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 200px 300px;
  grid-gap: 5px;
  grid-auto-flow: dense;
  background-color: black;
  z-index: 3;
}


.galleryItem {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 20px;

  .image {
    width: 100%;
    height: 100%;
    overflow: hidden;

    >img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
      cursor: pointer;
      transition: 0.5s ease-in-out;

      &:hover {
        transform: scale(1.2)
      }

    }
  }

  .text {
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 60px;
    pointer-events: none;
    z-index: 4;
    transition: 0.3s ease-in-out;
    -webkit-backdrop-filter: blur(5px) saturate(1.8);
    backdrop-filter: blur(5px) saturate(1.8);

    &:hover {
      transform: scale(1.5);
      opacity: 0;
      font-size: 48px;
    }
  }
}


.w_1 {
  grid-column: span 1;
}

.w_2 {
  grid-column: span 2;
}

.w_3 {
  grid-column: span 3;

}

.w_4 {
  grid-column: span 4;
}

.w_5 {
  grid-column: span 5;
}

.w_6 {
  grid-column: span 6;
}

.w_7 {
  grid-column: span 7;
}

.h_1 {
  grid-row: span 1;
}

.h_2 {
  grid-row: span 2;
}

.h_3 {
  grid-row: span 3;
}

.h_4 {
  grid-row: span 4;
}

.h_5 {
  grid-row: span 5;
}

.h_6 {
  grid-row: span 6;
}

.h_7 {
  grid-row: span 7;
}


@keyframes move-down {
  0% {
    top: 10%;
  }

  50% {
    top: 35%;
  }

  100% {
    top: 50%;
  }
}

// Portraits

.portraitContainer {
  width: 100%;
  // background-color: pink;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0px;
  font-family: $navbarFont;

}

.portraits {
  max-width: 80%;
  height: 100%;
  margin: 60px 0;
  // max-width: 2000px;
  // max-height: 1300px;
  overflow: hidden;


}

.portraitContent {

  width: 100%;

  >img {
    width: 100%;

    margin: auto;
    object-fit: cover;
    display: flex;
  }
}



// Contact Page

.contactContainer {
  // background-color: pink;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $navbarFont;
  margin: 40px 0px;

  >h3 {
    letter-spacing: 15px;
    color: $primary;
    margin-bottom: 40px;
  }


}

.imageContact {
  >img {
    width: 400px;
  }

}

.textBox {
  // background-color: pink;
  display: flex;
  color: black;
  margin-bottom: 40px;

  >p {
    margin: 20px 400px;
    color: black;
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
}


// Hero 
.heroContainer {
  height: 100vh;
  overflow: hidden;

  // background-color: pink;
}

.parallaxLayer {
  display: block;
  position: absolute;
  width: 100%;
  height: 120vh;

  overflow: hidden;
}

.y1Image {
  overflow: hidden;
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  object-fit: cover;
}

.y2Image {
  overflow: hidden;
  position: absolute;
  // background-color: pink;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  z-index: 1;
  object-fit: cover;
}

.heroQuote {
  color: white;
  // background: rgba(0,0,0,0.2);
  width: 500px;
  display: flex;
  flex-direction: column;
  margin-left: 50%;
  z-index: 1;
  text-align: center;
  position: absolute;
  font-family: $primaryFont;

  @media screen and (max-width: 600px) {
    font-size: .5em;
    width: 300px;
    top: 30%;
  }
}


.heroFooter {
  z-index: 1;
  width: 100%;
  height: 50px;
  position: absolute;

  overflow: hidden;
  bottom: 0;
  right: 0;
  display: flex;
  color: #dde9eb;
  text-align: right;
  margin-right: 20px;

  >p {

    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    font-family: $navbarFont;

    @media screen and (max-width: 768px) {
      font-size: .8rem;
    }

  }
}

.bottomFade {
  width: 100%;
  bottom: 0;
  height: 100%;
  left: 0;
  z-index: 2;
  position: absolute;
  background: linear-gradient(to top, black 10%, rgba(0, 0, 0, 0.938) 19%, rgba(0, 0, 0, 0.541) 34%, rgba(0, 0, 0, 0.382) 47%, rgba(0, 0, 0, 0.278) 56.5%, rgba(0, 0, 0, 0.194) 65%, rgba(0, 0, 0, 0.126) 73%, rgba(0, 0, 0, 0.075) 80.2%, rgba(0, 0, 0, 0.042) 86.1%, rgba(0, 0, 0, 0.021) 91%, rgba(0, 0, 0, 0.008) 95.2%, rgba(0, 0, 0, 0.002) 98.2%, transparent 100%);
}

.topFade {
  width: 100%;
  top: 0;
  height: 20%;
  left: 0;
  z-index: 2;
  position: absolute;
  background: linear-gradient(to bottom, black 1%, rgba(0, 0, 0, 0.938) 19%, rgba(0, 0, 0, 0.541) 34%, rgba(0, 0, 0, 0.382) 47%, rgba(0, 0, 0, 0.278) 56.5%, rgba(0, 0, 0, 0.194) 65%, rgba(0, 0, 0, 0.126) 73%, rgba(0, 0, 0, 0.075) 80.2%, rgba(0, 0, 0, 0.042) 86.1%, rgba(0, 0, 0, 0.021) 91%, rgba(0, 0, 0, 0.008) 95.2%, rgba(0, 0, 0, 0.002) 98.2%, transparent 100%);
}

.fullFade {
  width: 100%;
  bottom: 0;
  height: 100%;
  left: 0;
  z-index: 2;
  position: absolute;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.45) 3%, rgba(0, 0, 0, 0.45) 19%, rgba(0, 0, 0, 0.45) 34%, rgba(0, 0, 0, 0.382) 47%, rgba(0, 0, 0, 0.278) 56.5%, rgba(0, 0, 0, 0.194) 65%, rgba(0, 0, 0, 0.126) 73%, rgba(0, 0, 0, 0.075) 80.2%, rgba(0, 0, 0, 0.042) 86.1%, rgba(0, 0, 0, 0.021) 91%, rgba(0, 0, 0, 0.008) 95.2%, rgba(0, 0, 0, 0.002) 98.2%, transparent 100%);
}

// Socials SideBar
.socialsContainer {
  width: 40px;
  height: 250px;
  display: flex;
  flex-direction: column;
  right: 0;
  margin-right: 20px;
  top: 45vh;
  // background-color: pink;
  position: fixed;
  z-index: 5;
  transform: translate(0, -50%);
  justify-content: center;

}

.icons {
  font-size: 32px;
  color: #ffffff;
  margin-bottom: 15px;

  @media screen and (max-width: 768px) {
    font-size: 32px;
  }

  &:hover {
    font-weight: 400;
    color: $primary;
    cursor: pointer;
  }
}

// Mid Nav
.midNav {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 1200px;
  background-color: black;
  position: relative;
  display: flex;
  z-index: 2;
  color: white;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 768px) {
    height: 700px;
  }
}


.midBackground {
  max-width: 1200px;
  width: 100%;
  min-height: 400px;
  height: 700px;
  position: absolute;
  object-fit: cover;
  z-index: 1;
  justify-content: center;
  display: flex;
  align-items: center;
}

.midLinks {
  max-width: 1500px;
  width: 100%;
  height: 500px;

  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.midLink {
  max-width: 250px;
  width: 100%;
  margin: 0 20px;
  height: 300px;
  position: relative;
  // background-color: pink;


  @media screen and (max-width: 478px) {
    width: 100px;
    height: 150px;
    margin: 0 10px;
  }

  &:hover {
    cursor: pointer;
  }

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(0, 0, 0, 0.65);
}

.midLink:hover .overlay {
  opacity: 1;
}

.text {
  color: #dde9eb;
  font-size: 1rem;
  position: relative;
  padding-top: 60px;
  letter-spacing: 1px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: all .3s cubic-bezier(0.7, 0, 0.3, 1);
  text-align: center;

  @media screen and (max-width: 768px) {
    font-size: .6rem;
    padding-top: 40px;
  }
}

.midLink:hover .text {
  bottom: 50%;
  transition: all .3s cubic-bezier(0.7, 0, 0.3, 1);

}

.midLinkPic {
  width: 100%;
  height: 100%;
  object-fit: cover;

  object-position: 40%;
}

.midImageDiv {
  background-color: pink;
  width: 100%;
  height: 1400px;

  @media screen and (max-width: 768px) {
    height: 700px;
  }
}

.midImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.midContact {
  width: 900px;
  height: 400px;
  // background-color: pink;
  position: absolute;
  top: 40%;
  font-size: 5rem;
  text-align: center;
  z-index: 3;
  font-weight: 500;

  @media screen and (max-width: 768px) {
    width: 300px;
    font-size: 1.5rem;
  }
}

// Short bio
.shortBio {

  width: 100%;
  left: 0;
  background-color: black;
  object-fit: fill;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  >img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

}

.bioText {
  max-width: 900px;
  font-size: 1.5rem;
  z-index: 3;
  position: absolute;
  top: 60%;
  text-align: center;
  // background-color: purple;
  font-family: $navbarFont;


  @media screen and (max-width: 978px) {
    padding: 10px 40px;
    font-size: .8rem;
  }
}