@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&family=Montserrat&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arsenal&family=Maven+Pro&family=Montserrat&family=Roboto:wght@100;400;500;600;700;800&family=Sansita&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BIZ+UDMincho&family=Poiret+One&display=swap");
.body {
  padding: 0;
  margin: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    overflow: hidden;
    display: -ms-grid;
    display: grid;
    z-index: 3;
  }
}

.imageCarousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .imageCarousel {
    padding: 50px;
    max-width: 900px;
  }
}

.image {
  width: 100%;
  padding: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .image {
    padding: 40px 10px;
  }
}

.image > img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  max-width: 100%;
  min-height: 100%;
}

@media screen and (max-width: 768px) {
  .image > img {
    width: 100%;
    height: 100%;
  }
}

.galleryItem {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 5px;
}

.galleryItem .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.galleryItem .image > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.galleryItem .image > img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.galleryItem .text {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: black;
  font-size: 60px;
  pointer-events: none;
  z-index: 4;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-backdrop-filter: blur(5px) saturate(1.8);
  backdrop-filter: blur(5px) saturate(1.8);
}

.galleryItem .text:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 0;
  font-size: 48px;
}

.w_1 {
  grid-column: span 1;
}

.w_2 {
  grid-column: span 2;
}

.w_3 {
  grid-column: span 3;
}

.w_4 {
  grid-column: span 4;
}

.w_5 {
  grid-column: span 5;
}

.w_6 {
  grid-column: span 6;
}

.w_7 {
  grid-column: span 7;
}

.h_1 {
  grid-row: span 1;
}

.h_2 {
  grid-row: span 2;
}

.h_3 {
  grid-row: span 3;
}

.h_4 {
  grid-row: span 4;
}

.h_5 {
  grid-row: span 5;
}

.h_6 {
  grid-row: span 6;
}

.h_7 {
  grid-row: span 7;
}

@-webkit-keyframes move-down {
  0% {
    top: 10%;
  }
  50% {
    top: 35%;
  }
  100% {
    top: 50%;
  }
}

@keyframes move-down {
  0% {
    top: 10%;
  }
  50% {
    top: 35%;
  }
  100% {
    top: 50%;
  }
}

.portraitContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Poiret One;
  color: white;
}

.portraits {
  max-width: 80%;
  height: 100%;
  margin-bottom: 60px;
  overflow: hidden;
}

.portraitContent {
  max-height: 800px;
}

.portraitContent > img {
  width: 100%;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactContainer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arsenal;
}

.contactContainer > h3 {
  letter-spacing: 15px;
  color: #e56020;
  margin-bottom: 40px;
}

.imageContact > img {
  width: 400px;
}

@media screen and (max-width: 890px) {
  .imageContact > img {
    width: 200px;
  }
}

.textBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  margin-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 600px;
}

.textBox > p {
  margin: 20px 40px;
  font-size: 24px;
  line-height: 2rem;
}

.textBox > h2 {
  text-align: center;
}

.socialsContainer {
  width: 40px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  right: 0;
  margin-right: 20px;
  top: 45vh;
  position: fixed;
  z-index: 5;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icons {
  font-size: 32px;
  color: #ffffff;
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .icons {
    font-size: 32px;
  }
}

.icons:hover {
  font-weight: 400;
  color: #e56020;
  cursor: pointer;
}
/*# sourceMappingURL=Content.module.css.map */