@import 'variables';

.container {
    width: 100%;
    height: 80px;
    position: relative;
    // background-color:blue;
    border-top: 2px solid $primary;
    // font-family: $thirdFont;
    background-color: black;
    display: flex;
    flex-direction: row;
    // justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    // font-family: $navbarFont;



}

.footerSection{
    width: 30%;
    height: 100%;
    // background-color: pink;
    display: flex;
    align-items: center;
    color: white;
    >span {
        color: $primary;
    }
    > div {
        display: flex;
       
     
        min-width: 30%;
        // background-color: purple;
        height: 100%;
        
    }
}

.footerIcons {

    display: flex;
    right: 40px;
    position: absolute;
    // padding: 20px ;
  
    justify-content: flex-end;
    align-items: center;
    height: 100%;


    > div {
        
        padding: 10px;
        // border: 2px solid black;
        color: $primary;
        margin: 10px;


        display: flex;
        justify-content: center;
        // background-color: pink;
        cursor: pointer;
        border-radius: 50%;

        >a {
            text-decoration: none;
            font-size: 1.5rem;
            display: flex;

            &:hover{
                color: white;
                background-color: $primary;
                                
            }
       
        }

        &:hover{
            color: white;
            background-color: $primary;
            
        }
 
    }
}