@import 'variables';

html,
body {
  padding: 0;
  width: 100%;
  background-color: black;
  height: 100%;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  // background-color: blue;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  ::-webkit-scrollbar {
    display: none;
  }
}

a {
  text-decoration: none;
  color: $primary;
}

* {
  box-sizing: border-box;
}