@import 'variables';

.banner {
    height: 40vh;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: flex;

    @media screen and (max-width: 768px) {
        height: 30vh;
    }

}

.bannerImage {
    width: 100%;
    object-fit: cover;
}

.bannerLogo {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 40px;
    border-radius: 50%;

    @media screen and (max-width: 768px) {
        width: 100px;
        height: 100px;

    }
}

.musicContent {
    color: white;
    margin: 40px;
    max-width: 800px;
    font-family: $secondaryFont;
    line-height: 1.5rem;

    // background-color: pink;
    >h1 {
        margin: 0;
    }

    >h2 {
        color: gray;
        margin: 0;
    }
}

.socialLinks {

    a {
        &:hover {
            cursor: pointer;
        }
    }


}