@import 'variables';

.layout {
  //background-color: pink;
  width: 100vw;
  position: relative;
  height: 100vh;

  @media screen and (min-width: 476px) {
    display: grid; 
    grid-template-columns: 30% 1fr ;
    
  }
}

.container {
 
  width: 100%;
  height: 100vh;
  //background-color: purple;
  display: grid;
  font-family: $primaryFont;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: $breakpoint-mobile) {
    width: 100%;
    height: 80px;
    //background-color: yellow;
    display: flex;
    padding: 0 10px;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
 
    z-index: 4;
  
  }



  // @media screen and (max-width: 1076px) {
  //   margin-left: -200px;
  //   margin-top: -250px;
  // }
}


.children {
  width: 100vw;
  height: 100%;
  // background-color: blue;

}

.sidebar {
 //background-color: turquoise;
  display: none;

  @media screen and (min-width: $breakpoint-mobile) {
    display: inline-block;
    min-width:250px;
 

    height: 80%;

    >p {
      font-size: $text-xl;
      top: 0;
      height: 40px;
      letter-spacing: 5px;
      font-weight: bold;
      // background-color: aquamarine;
    }
  }
}


.navLinks {


  font-size: 10px;

  // background-color: yellow;
  height: 80%;
  display:flex;

  flex-direction: column;
  >button{
    background-color: transparent;
    border:none;
    text-align: left;
    &:hover {
      cursor: pointer;
    }
  }
}


.logo {
  display: none;
  letter-spacing: 5px;
  @media screen and (max-width: $breakpoint-mobile) {
    font-size: 32px;
    display: grid;
    font-weight: bold;
    color: black;
    font-size: $text-sm;
    width: 100%;
    
    // background-color: blue;
   
   }
 

}

.logoNav {
  margin-top: 0;
  text-align: center;

}

.navLink {

  padding: 5px;
  text-align: center;

  >a {
    color: white;
    font-weight: 400;
    font-size: 1rem;

    &:hover {
      font-weight: 800;

    }
  }
}


.banner {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100px;
  z-index: -1;

  >img {
    height: 100%;
    width: 100%;
    object-fit: cover;

  }
}

// MenuNav
.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;

}


.iconPlaceholder {
  width: 40px;
  height: 100%;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.textPlaceholder {
  border-radius: 50px;
  width: 20px;
  height: 100%;
  padding: 10px;
  flex: 1;
  color: white;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

.menuNav {
  
  top: 0;
  margin-right: 0 ;
width: 100%;
  z-index: 6;
  background-color: purple;
  justify-content: center;
  align-items: center;
  display: flex;

  @media screen and (min-width: 476px) {
    display:none;
   }
 
}

.navButton {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  z-index: 40;
  top: 18px;
  right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;


  &:hover {
    cursor: pointer;
  }


}

.navUl {
  padding: 25px;
  position: absolute;
  top: 100px;
  width: 230px;

}

.navLi {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;


}