@import url("https://fonts.googleapis.com/css2?family=Arsenal&family=Maven+Pro&family=Montserrat&family=Roboto:wght@100&family=Sansita&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BIZ+UDMincho&family=Poiret+One&display=swap");
.container {
  width: 100%;
  overflow: hidden;
  height: 100px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Poiret One;
  z-index: 4;
}

.navLinks {
  padding: 10px;
  font-size: 18px;
  margin: 15px 40px 15px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  color: #e56020;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  letter-spacing: 5px;
}

.logo {
  color: white;
  font-size: 46px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  letter-spacing: 5px;
  position: fixed;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .logo {
    font-size: 32px;
  }
}

.logo > h1 {
  font-size: 20px;
  z-index: 9;
}

@media screen and (max-width: 768px) {
  .logo > h1 {
    font-size: 12px;
  }
}

.logo > P {
  padding-bottom: 0px;
  z-index: 10;
  padding: 10px;
  border-radius: 3%;
}

.logo > P > span {
  z-index: 7;
  color: #e56020;
}

.logoNav {
  margin-top: 0;
  text-align: center;
}

.navLink {
  padding: 5px;
  text-align: center;
}

.navLink > a {
  color: white;
  font-weight: 400;
  font-size: 1rem;
}

.navLink > a:hover {
  font-weight: 800;
}

.banner {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100px;
  z-index: -1;
}

.banner > img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: black;
}

.iconPlaceholder {
  width: 40px;
  height: 100%;
  border-radius: 50%;
  -webkit-box-flex: 40px;
      -ms-flex: 40px 0;
          flex: 40px 0;
  margin-right: 20px;
}

.textPlaceholder {
  border-radius: 5px;
  width: 20px;
  height: 100%;
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: white;
  background-color: transparent;
}

.menuNav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  z-index: 4;
}

.navButton {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  z-index: 40;
  top: 18px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  background: transparent;
}

.navUl {
  padding: 25px;
  position: absolute;
  top: 100px;
  width: 230px;
}

.navLi {
  list-style: none;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
/*# sourceMappingURL=Navbar.module.css.map */