@import 'variables';

.layout {
  width: 100vw;
  position: relative;
  height: 100vh;

  @media screen and (min-width: $breakpoint-tablet) {
    display: grid; 
    grid-template-columns: 30% 1fr ;
    
  }
}

.container {
 
  width: 100%;
  height: 100vh;
  display: flex;
  margin: 0 auto;

  justify-content: center;
  font-family: $primaryFont;
  overflow: hidden;
  align-items: center;

  @media screen and (max-width: $breakpoint-tablet) {
    width: 100%;
    height: 80px;
    display: flex;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    z-index: 4;
  }
}

.logo {
  display: none;

  @media screen and (max-width: $breakpoint-tablet) {
    display: grid;
    font-weight: 800;
    color: black;
    font-size: 20px;
    width: 100%;
    letter-spacing: 5px;
    padding-left: 25px;
   }
}


.children {
  width: 100%;
  overflow: scroll;
  z-index: 9;
  margin-top:80px;
  max-width: 900px;

  @media screen and (max-width: $breakpoint-tablet) {
    height: calc(100% - 80px);
    margin-top: 0;
    
  }

}

.sidebar {
  display: none;

  @media screen and (min-width: $breakpoint-tablet) {
  display: block;
    height: 80%;
    width: 80%;
    max-width: 250px;
    padding: 0 20px;

    >button {
      border: none;
      background-color: transparent;
      font-family: $navbarFont;
      font-size: $text-xl;
      top: 0;
      height: 40px;
      letter-spacing: 5px;
      font-weight: bold; 
      margin-bottom: 80px;
      &:hover {
        cursor: pointer;
      }
      // background-color: aquamarine;
    }
  }
}


.navLinks {


  font-size: 10px;
  width: 100%;

  height: 80%;
  display:flex;
  flex-direction: column;
  >button{
    background-color: transparent;
    font-family: $fouthFont;
    border:none;
    text-align: left;
    letter-spacing: 5px;
    font-weight: 600;
 
    &:hover {
      cursor: pointer;
    }
  }
}




.logoNav {
  margin-top: 0;
  text-align: center;

}

.navLink {

  padding: 5px;
  text-align: center;

  >a {
    color: white;
    font-weight: 400;
    font-size: 1rem;

    &:hover {
      font-weight: 800;

    }
  }
}


.banner {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100px;
  z-index: -1;

  >img {
    height: 100%;
    width: 100%;
    object-fit: cover;

  }
}

// MenuNav
.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: white;

}


.iconPlaceholder {
  width: 40px;
  height: 100%;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}


.menuNav {

  width: 100%;
  z-index: 6;
 
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: white;
  

  @media screen and (min-width: $breakpoint-tablet) {
    display:none;
   }
 
}

.navButton {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  z-index: 40;
  top: 18px;
  right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: transparent;


  &:hover {
    cursor: pointer;
  }


}

.navUl {
 
  position: absolute;
  top: 80px;
  right: 0;
}

.navLi {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  cursor: pointer;
  background-color: rgba(5, 5, 5, 0.8); 

  border: 1px solid rgba(43, 43, 43, 0.568);
  padding: 5px 10px;
  border-radius: 5px; 
  height: 40px;
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .navLi {
      -webkit-backdrop-filter: blur(40px);
      backdrop-filter: blur(40px);
    }
  }

}


.textPlaceholder {
  border-radius: 50px;
  border:none;
  font-size: $text-sm;
  height: 100%;
  letter-spacing: 2px;
  text-align: right;
  padding-right: 25px;
  font-family: $navbarFont;
  font-weight: 400;
  flex: 1;
  color: white;
  background-color: transparent;


  &:hover {
    cursor: pointer;
  }
}