@import url("https://fonts.googleapis.com/css2?family=Arsenal&family=Maven+Pro&family=Montserrat&family=Roboto:wght@100;400;500;600;700;800&family=Sansita&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BIZ+UDMincho&family=Poiret+One&display=swap");
.layout {
  width: 100vw;
  position: relative;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .layout {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 1fr;
        grid-template-columns: 30% 1fr;
  }
}

.container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Poiret One;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    left: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 4;
  }
}

.logo {
  display: none;
}

@media screen and (max-width: 768px) {
  .logo {
    display: -ms-grid;
    display: grid;
    font-weight: 800;
    color: black;
    font-size: 20px;
    width: 100%;
    letter-spacing: 5px;
    padding-left: 25px;
  }
}

.children {
  width: 100%;
  overflow: scroll;
  z-index: 9;
  margin-top: 80px;
  max-width: 900px;
}

@media screen and (max-width: 768px) {
  .children {
    height: calc(100% - 80px);
    margin-top: 0;
  }
}

.sidebar {
  display: none;
}

@media screen and (min-width: 768px) {
  .sidebar {
    display: block;
    height: 80%;
    width: 80%;
    max-width: 250px;
    padding: 0 20px;
  }
  .sidebar > button {
    border: none;
    background-color: transparent;
    font-family: Montserrat;
    font-size: 2rem;
    top: 0;
    height: 40px;
    letter-spacing: 5px;
    font-weight: bold;
    margin-bottom: 80px;
  }
  .sidebar > button:hover {
    cursor: pointer;
  }
}

.navLinks {
  font-size: 10px;
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navLinks > button {
  background-color: transparent;
  font-family: Arsenal;
  border: none;
  text-align: left;
  letter-spacing: 5px;
  font-weight: 600;
}

.navLinks > button:hover {
  cursor: pointer;
}

.logoNav {
  margin-top: 0;
  text-align: center;
}

.navLink {
  padding: 5px;
  text-align: center;
}

.navLink > a {
  color: white;
  font-weight: 400;
  font-size: 1rem;
}

.navLink > a:hover {
  font-weight: 800;
}

.banner {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100px;
  z-index: -1;
}

.banner > img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: white;
}

.iconPlaceholder {
  width: 40px;
  height: 100%;
  border-radius: 50%;
  -webkit-box-flex: 40px;
      -ms-flex: 40px 0;
          flex: 40px 0;
  margin-right: 20px;
}

.menuNav {
  width: 100%;
  z-index: 6;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
}

@media screen and (min-width: 768px) {
  .menuNav {
    display: none;
  }
}

.navButton {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  z-index: 40;
  top: 18px;
  right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
}

.navButton:hover {
  cursor: pointer;
}

.navUl {
  position: absolute;
  top: 80px;
  right: 0;
}

.navLi {
  list-style: none;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  background-color: rgba(5, 5, 5, 0.8);
  border: 1px solid rgba(43, 43, 43, 0.568);
  padding: 5px 10px;
  border-radius: 5px;
  height: 40px;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .navLi .navLi {
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
  }
}

.textPlaceholder {
  border-radius: 50px;
  border: none;
  font-size: 12px;
  height: 100%;
  letter-spacing: 2px;
  text-align: right;
  padding-right: 25px;
  font-family: Montserrat;
  font-weight: 400;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: white;
  background-color: transparent;
}

.textPlaceholder:hover {
  cursor: pointer;
}
/*# sourceMappingURL=Navbar.module.css.map */